%h1.general-title-margin= t('address.settings')
= render 'addresses/partials/navigation'
.tab-content
  #address.tab-pane.fade.in.active.general-main-wrap{role: "tabpanel"}
  = render 'addresses/partials/addresses'
