.col-sm-8
  .res-mr-200.text-center.general-text-right
    %p.in-gold-500.font-18= t('.order_summary_title')
    %table.general-summary-table.general-summary-table-right.general-text-right
      = render partial: 'carts/partials/cart_summary_data', locals: { current_order: current_order }
