.col-sm-4
  .input-group.general-input-group
    %label.input-labe= t('.enter_your_coupon')
    %input.form-control.mb-30{type: "text", placeholder: t('.enter_your_coupon')}
    %div
      %button.btn.btn-primary.mr-5.mb-15= t('.submit_apply_coupon')
