= render partial: 'home/partials/carousel', locals: { latest_books: @latest_books }
.container
  = render 'home/partials/welcome'
  = render partial: 'home/partials/best_sellers', locals: { best_sellers: @best_sellers }
