.general-text-align.mb-60
  %p.in-gold-500.font-18= t('.order_summary_title')
  %table.general-summary-table
    = render partial: 'carts/partials/cart_summary_data', locals: { current_order: current_order }
