.col-sm-5
  %p.in-gold-500.font-18.mb-25= t('privacy.global_names.title_email')
  .general-form-md
    = simple_form_for user, as: :user, url: user_path(current_user.id), method: :put do |f|
      .form-group.mb-35
        = f.input :email, label: t('privacy.label.email'), input_html: { id: 'email', class: 'form-control' } , label_html: { class: 'control-label input-label' }, placeholder: t('privacy.placeholder.email'), type: 'email'
      .general-text-align
        = f.button :submit, t('privacy.global_names.button_submit'), class: 'btn btn-default mb-35'
